#Telegram Key
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

#DB Postgres
POSTGRES_DB=botdb
POSTGRES_USER=botuser
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

BOT_TOKEN=your_tg_bot_token

# ЮKassa
YK_ACCOUNT_ID=your_yookassa_shop_id
YK_SECRET_KEY=your_yookassa_secret

# CloudPayments
CP_PUBLIC_ID=your_public_id
CP_API_SECRET=your_api_secret
